<div>list of things</div>
<app-pagination
  (goPage)="goToPage($event)"
  (goNext)="onNext()"
  (goPrev)="onPrev()"
  [pagesToShow]="3"
  [page]="page"
  [perPage]="limit"
  [count]="total">
</app-pagination>
  <br/>
  
<div class="box">
  <h1 class="fancy">Employee Details Lists</h1>

  <table id="todoList">
    <!--
      This part write the Table header.
    -->
    <tr>
      <th>Employee ID</th>
      <th>Employee Name</th>
      <th>Age</th>
      <th>Designation</th>
    </tr>

    <!--
      This is part in use of *ngFor for display the All Employee Details.
    -->
    <tr *ngFor="let employee of viewEmployeeDetails">
      <td>{{employee.id}}</td>
      <td>{{employee.employeeName}}</td>
      <td>{{employee.age}}</td>
      <td>{{employee.designation}}</td>
    </tr>

  </table>

</div>