<div class="controls">
  <div>
    <label for="per-page">
      Per Page:
    </label>
    <select
      id="per-page" 
      (change)="onLimitChange($event.target.value)"
    >
      <option
        *ngFor="let option of pageLimitOptions"
        [value]="option.value"
        [selected]="option.value == currentPageLimit"
      >
        {{ option.value }}
      </option>
    </select>
  </div>
  <div>
    <label for="visible">
      Visible in Paginator:
    </label>
    <select
      id="visible" 
      (change)="onVisibleChange($event.target.value)"
    >
      <option
        *ngFor="let option of visibleOptions"
        [value]="option.value"
        [selected]="option.value == currentVisible"
      >
        {{ option.value }}
      </option>
    </select>
  </div>
</div>
  <br/>
  
<div class="box">
  <h1 class="fancy">Employee Details Lists</h1>

  <table id="todoList">
    <!--
      This part write the Table header.
    -->
    <tr>
      <th>Employee ID</th>
      <th>Employee Name</th>
      <th>Age</th>
      <th>Designation</th>
    </tr>

    <!--
      This is part in use of *ngFor for display the All Employee Details.
    -->
    <tr *ngFor="let employee of viewEmployeeDetails"  #table>
      <td>{{employee.id}}</td>
      <td>{{employee.employeeName}}</td>
      <td>{{employee.age}}</td>
      <td>{{employee.designation}}</td>
    </tr>

  </table>

  <app-pagination
        [page]="curPage"
        [visiblePagesCount]="currentVisible"
        [size]="pageSize"
        [count]="rowCount"
        [hidden]="false"
        (change)="table.onFooterPage($event)">
      </app-pagination>

</div>