.box{
    float: left;
}
    

  .fancy {
    text-align: center;
    font-size: 30px;
    -webkit-text-decoration: peru double underline;
    text-decoration: peru double underline;
    
  }
  
  #todoList {
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 1000px;
      background-color: #c6c6c6
  }
  
  #todoList td, #todoList th {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: center;
  }
  
  #todoList th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: center;
      background-color: #3a57af;
      color: white;
  }
  
  .status{
      text-transform: uppercase;
  }